body {
    background-color: #2e2e2e;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.terminal-window {
    background-color: #1e1e1e;
    border-radius: 6px;
    width: 65%;
    max-width: 65%;
    height: 70%;
    max-height: 70%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.terminal-header {
    background-color: #3a3a3a;
    padding: 8px;
    display: flex;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.header-buttons {
    display: flex;
    gap: 8px;
    margin-left: 8px;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.close { background-color: #ff5f56; }
.close:hover { background-color: #ee483f; }

.minimize { background-color: #ffbd2e; }
.minimize:hover { background-color: #d79d21; }

.maximize { background-color: #27c93f; }
.maximize:hover { background-color: #18a32d; }

.terminal-title {
    color: #999;
    font-size: 14px;
    margin-left: 20px
}

.terminal-content {
    padding: 20px;
    height: 90%;
    overflow-y: auto;
}

.terminal-content::-webkit-scrollbar { width: 8px; }
.terminal-content::-webkit-scrollbar-track { background: #1e1e1e; }
.terminal-content::-webkit-scrollbar-thumb:hover { background: #888; }
.terminal-content::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

.highlight-forder { color: #B39DDB; }
.highlight-gray { color: #A9A9A9; }
.highlight-blue { color: #B0E0E6; }
.highlight-yellow { color: #FFE66D; }
.command { color: #00ff00; }


/* Chart */
.chart-container {
    padding-left: 5%;
    width: 65%;
    max-width: 65%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.chart-text {
    padding-left: 50px;
}

.chart {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
    background:lightgray;
    display:inline-block;
}
  
.chart:after {
    content:'';
    background: #2e2e2e;
    position: absolute;
    top:50%; left:50%;
    width:100px; height:100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.chart-bar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
        #2A4B7C 0deg 124.2deg,          /* chart 1 */
        #4A6F9A 124.2deg 213.5deg,      /* chart 2 */
        #6A92B3 213.5deg 278.3deg,      /* chart 3 */
        #8AB8D2 278.3deg 324.4deg,      /* chart 4 */ 
        #A1C6D9 324.4deg 348.9deg,      /* chart 5 */
        #C7D9E5 348.9deg 354.7deg,      /* chart 6 */
        #EAEFF2 354.7deg 360deg         /* chart 7 */
    );
}

.highlight-chart-one { color: #2A4B7C }
.highlight-chart-two { color: #4A6F9A }
.highlight-chart-three { color: #6A92B3 }
.highlight-chart-four { color: #8AB8D2 }
.highlight-chart-five { color: #A1C6D9 }
.highlight-chart-six { color: #C7D9E5 }
.highlight-chart-seven { color: #EAEFF2 }